# Exemple de fichier de variables d'environnements

# Variables utiles pour le développements de Road2
road2_src=/home/user/road2/src
road2_test=/home/user/road2/test
road2_config=/home/user/road2/docker/config/

# Variables pour le HTTPS de Road2 
road2_key=/home/user/data/server.key 
road2_cert=/home/user/data/server.cert

# Variables pour la plage d'ip du network utilisé par docker sur cette stack (utile pour pgrouting-procedures aussi)
iprange=x.x.x.x/24

# Variable pour r2gg
## Argument de la ligne de commande
R2GG_ARG=bduni2osrm_idf.json
GENERATION_TYPE=osrm
## Code source 
r2gg_src=/home/user/route-graph-generator/r2gg/

## Fichier contenant les informations de connexion à la base de données
db_config_file=/home/user/data/bduni_config.json

