# Exemple de fichier de variables d'environnements

# Variables pour la génération de données aléatoires 
nb_line=100
resource=data-osm
xmin=8.61
ymin=41.40
xmax=9.52
ymax=42.62

# Variables pour gatling 
gatling_results=/home/user/gatling/results
gatling_user_files=/home/user/gatling/user-files
gatling_scenario=routeOsrm