[submodule "docker/route-graph-generator"]
	path = docker/route-graph-generator
	url = https://gitlab.ul.geoportail.rie.gouv.fr/ign/pgie/route-graph-generator.git
	branch = master
[submodule "docker/motors/pgrouting-procedures"]
	path = docker/motors/pgrouting-procedures
	url = https://gitlab.ul.geoportail.rie.gouv.fr/ign/pgie/pgrouting-procedures.git
	branch = master
