# Exemple de fichier de variables d'environnements

# Variables utiles pour chaque image
proxy=http://proxy:3128
dns_ip=x.x.x.x
dns_host=example

# Variables utiles pour le développements de Road2
road2_src=/home/user/road2/src
road2_test=/home/user/road2/test
road2_config=/home/user/road2/docker/config/

# Variables pour le HTTPS de Road2 
road2_key=/home/user/data/server.key 
road2_cert=/home/user/data/server.cert

# Variables pour la plage d'ip du network docker (utile pour pgrouting-procedures aussi)
iprange=x.x.x.x/24

# Variable pour r2gg
## Argument de la ligne de commande
R2GG_ARG=bduni2osrm_idf.json
GENERATION_TYPE=osrm

## Fichier contenant les informations de connexion à la base de données
db_config_file=/home/user/data/bduni_config.json

# Variables pour le test de Road2 sur une page web 
road2_web_src=/home/user/road2/test/www/

# Variables pour gatling 
## Configuration de gatling 
gatling_user_files=/home/user/road2/test/gatling/user-files/
## Résultats de gatling 
gatling_results=/home/user/data/results/

## Emplacement des procédures SQL.
procedures_path=/home/user/pgrouting-procedures/sql
