# Exemple de fichier de variables d'environnements

# Variables utiles pour chaque image
proxy=http://proxy:3128
dns_ip=x.x.x.x
dns_host=example

# Variables utiles pour le développements de Road2
road2_src=/home/user/road2/src
road2_test=/home/user/road2/test

# Variables pour la plage d'ip du network docker (utile pour pgrouting-procedures aussi)
iprange=x.x.x.x/24

# Variable pour l'argument de r2gg
R2GG_ARG=bduni2osrm_idf.json
