# Exemple de fichier de variables d'environnements

# Variables utiles pour chaque image
proxy=http://proxy:3128
dns_ip=x.x.x.x
dns_host=example

# Variables pour la génération de fichier aléatoire 
nb_line=100
resource=corse-osm
xmin=8.61
ymin=41.40
xmax=9.52
ymax=42.62

# Variables pour gatling 
gatling_results=/home/user/gatling/results